apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  labels:
    app: frontend
    environment: production
  annotations:
    alb.ingress.kubernetes.io/healthcheck-path: /
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
