kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: tiketi-local
nodes:
  # Control plane node
  - role: control-plane
    kubeadmConfigPatches:
    - |
      kind: InitConfiguration
      nodeRegistration:
        kubeletExtraArgs:
          node-labels: "ingress-ready=true"
    extraPortMappings:
    # NodePort mappings
    - containerPort: 30000
      hostPort: 30000
      protocol: TCP
    - containerPort: 30001
      hostPort: 30001
      protocol: TCP
    - containerPort: 30002
      hostPort: 30002
      protocol: TCP
    - containerPort: 30003
      hostPort: 30003
      protocol: TCP
    - containerPort: 30004
      hostPort: 30004
      protocol: TCP
    - containerPort: 30005
      hostPort: 30005
      protocol: TCP
    - containerPort: 30006
      hostPort: 30006
      protocol: TCP
    - containerPort: 30432
      hostPort: 30432
      protocol: TCP

  # Worker node 1
  - role: worker

  # Worker node 2
  - role: worker
