apiVersion: v1
kind: Service
metadata:
  name: dragonfly-service
  labels:
    app: dragonfly
spec:
  type: ClusterIP
  selector:
    app: dragonfly
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
      name: dragonfly
