apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - backend/
  - frontend/
  - auth-service/
  - ticket-service/
  - payment-service/
  - stats-service/
  # postgres/ and dragonfly/ are included only in dev overlay
  # staging/prod use RDS and ElastiCache

commonLabels:
  app.kubernetes.io/part-of: tiketi
  app.kubernetes.io/managed-by: kustomize

images:
  - name: tiketi-backend
    newName: 640740721346.dkr.ecr.ap-northeast-2.amazonaws.com/tiketi/backend
    newTag: latest
  - name: tiketi-frontend
    newName: 640740721346.dkr.ecr.ap-northeast-2.amazonaws.com/tiketi/frontend
    newTag: latest
  - name: tiketi-auth-service
    newName: 640740721346.dkr.ecr.ap-northeast-2.amazonaws.com/tiketi/auth
    newTag: latest
  - name: tiketi-ticket-service
    newName: 640740721346.dkr.ecr.ap-northeast-2.amazonaws.com/tiketi/ticket
    newTag: latest
  - name: tiketi-payment-service
    newName: 640740721346.dkr.ecr.ap-northeast-2.amazonaws.com/tiketi/payment
    newTag: latest
  - name: tiketi-stats-service
    newName: 640740721346.dkr.ecr.ap-northeast-2.amazonaws.com/tiketi/stats
    newTag: latest
