# Patch services to use NodePort for local development access
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: NodePort
  ports:
    - port: 3001
      targetPort: 3001
      nodePort: 30000
      protocol: TCP
      name: http
---
apiVersion: v1
kind: Service
metadata:
  name: ticket-service
spec:
  type: NodePort
  ports:
    - port: 3002
      targetPort: 3002
      nodePort: 30004
      protocol: TCP
      name: http
---
apiVersion: v1
kind: Service
metadata:
  name: payment-service
spec:
  type: NodePort
  ports:
    - port: 3003
      targetPort: 3003
      nodePort: 30003
      protocol: TCP
      name: http
---
apiVersion: v1
kind: Service
metadata:
  name: stats-service
spec:
  type: NodePort
  ports:
    - port: 3004
      targetPort: 3004
      nodePort: 30002
      protocol: TCP
      name: http
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  type: NodePort
  ports:
    - port: 3005
      targetPort: 3005
      nodePort: 30001
      protocol: TCP
      name: http
